<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Search Word</title>
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto:100,500,300,400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<!-- Header Block -->
<nav class="navbar navbar-dark navbar-fixed-top">
  <div class="container">
    <a href="">
      <img src="/images/logo.png" alt="">
    </a>
  </div>
</nav>

<!-- Search Block -->
<section class="search">
  <div class="container">
    <div class="row">
      <div class="col-xs-7 col-sm-10 col-md-10">
         <input type="search" class="form-control search-field" placeholder="Type here to search"/>
      </div>
      <div class="col-xs-5 col-sm-2 col-md-2">
        <div class="pull-right">
          <button class="btn">Search</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content -->
<div class="container main-content">
  <div class="row">
    <!-- Search Result Block -->
    <div class="col-md-8">
      <h4 class="text-center">Result block</h4>
      <div class="block">
       Result 1
      </div>
      <div class="block">
       Result 2
      </div>
      <div class="block">
       Result 3
      </div>
      <div class="block">
       Result 4
      </div>
      <div class="block">
       Result 5
      </div>
      <div class="block">
       Result 6
      </div>
      <div class="block">
       Result 7
      </div>
      <div class="block">
       Result 8
      </div>
      <div class="block">
       Result 9
      </div>
      <div class="block">
       Result 10
      </div>
    </div>
    <!-- Bookmark Block -->
    <div class="col-md-4">
      <div class="bookmark-block">
        <h4>Bookmark section</h4>
      </div>
    </div>
  </div>
</div>


<!-- Scripts --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>